@using System.IO.Compression
@using System.Text
@using SharpFileSystem.FileSystems
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager
@inject IBlazorDialogService dialogService
@inject IJSUnmarshalledRuntime JSUnmarshalledRuntime
@inject ICslyContext cslyContext;


<div>
    <strong>@Title</strong>

    <p class="title">Visualization for CSLY with Viz.js </p>


    <div>

        <select class="form-control d-flex" @onchange="SelectSample">
            @foreach (var template in cslyContext.GetSamples())
            {
            <option value=@template>@template</option>
            }
        </select>
        

        <label for="grammarFile" class="input-label">Importer un fichier grammaire</label>
        <InputFile id="grammarFile" OnChange="LoadGrammar"/>
        
        <div class="input"> <!--style="display: flex; flex-direction: row">-->

            <div style="flex-grow:1">
                <textarea style="flex-grow: 1" i d="inputBox" maxlength="2000" spellcheck="false" @bind="Grammar"  />
<!--@bind="cslyContext.Grammar" @bind:event="onchange" @bind:after="CleanOutput"/>-->
            </div>

        </div>
        <button id="submitButton" @onclick="Compile" class="btn btn-primary">
            Compile
        </button>
        <button id="submitButton" @onclick="Generate" class="btn btn-primary">
            Generate...
        </button>
        <button id="extractButton" @onclick="ExtractGrammar" class="btn btn-primary">
            Extract grammar...
        </button>
        <button id="extractButton" @onclick="CleanOutput" class="btn btn-primary">
            Clean
        </button>
 </div>


    <div id="graph">
        <div id="output">
            <div id="error">
                @foreach (var message in messages)
                {
                    <p style="color:black; background-color: lawngreen ">@message</p>
                }
                
                @foreach (var error in errors)
                {
                    <p style="color:black; background-color: darksalmon ">@error</p>
                }
                
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public string? Title { get; set; }


    private string Grammar
    {
        get => cslyContext.Grammar;
        set
        {
            cslyContext.Grammar = value;
            CleanOutput();
        }
    }
    
    protected override async void OnInitialized()
    {
    }

    private async Task LoadGrammar(InputFileChangeEventArgs e)
    {
        var content =
            await new StreamReader(e.File.OpenReadStream()).ReadToEndAsync();
        cslyContext.Grammar = content;
        StateHasChanged();
    }




   


    private async void ExtractGrammar()
    {
        bool isCentered = true;
        DialogSize size;
        DialogAnimation animation = DialogAnimation.SlideDown;

        var dialogResult = await dialogService.ShowComponentAsDialog<ExtractDialogResult>(new ComponentAsDialogOptions(typeof(ExtractDialog))
        {
            Animation = DialogAnimation.SlideDown,
            Size = DialogSize.Normal,
            Centered = true,
            Parameters = new()
        });
        if (dialogResult != null && dialogResult.Ok)
        {
            var extractedGrammar = CslyProcessor.ExtractGrammar(dialogResult.Parser, dialogResult.Lexer);
            if (extractedGrammar.IsOK && !string.IsNullOrEmpty(extractedGrammar.Result))
            {
                cslyContext.Grammar = extractedGrammar.Result;
                StateHasChanged();
            }
            else
            {
                errors.AddRange(extractedGrammar.Errors);
            }
        }
    }

    private async void Generate()
    {
        bool isCentered = true;
        DialogSize size;
        DialogAnimation animation = DialogAnimation.SlideDown;

        var dialogResult = await dialogService.ShowComponentAsDialog<GenerateDialogResult>(new ComponentAsDialogOptions(typeof(GenerateDialog))
        {
            Animation = DialogAnimation.SlideDown,
            Size = DialogSize.Normal,
            Centered = true,
            Parameters = new()
        });
        if (dialogResult != null && dialogResult.Ok)
        {
            Console.WriteLine($"Generate => ns:{dialogResult.NameSpace}, type:{dialogResult.OutputType}");
            var sources = CslyProcessor.GenerateParser(cslyContext.Grammar, dialogResult.NameSpace, dialogResult.OutputType);
            if (sources.IsOK)
            {
                byte[] compressedBytes;
                using (var outStream = new MemoryStream())
                {
                    using (var archive = new ZipArchive(outStream, ZipArchiveMode.Create, true))
                    {
                        var fileInArchive = archive.CreateEntry(sources.Result.ParserName + ".cs", CompressionLevel.Fastest);
                        using (var entryStream = fileInArchive.Open())
                        {
                            using (var fileToCompressStream = new MemoryStream(Encoding.UTF8.GetBytes(sources.Result.Parser)))
                            {
                                fileToCompressStream.CopyTo(entryStream);
                            }
                        }

                        fileInArchive = archive.CreateEntry(sources.Result.LexerName + ".cs", CompressionLevel.Fastest);
                        using (var entryStream = fileInArchive.Open())
                        {
                            using (var fileToCompressStream = new MemoryStream(Encoding.UTF8.GetBytes(sources.Result.Lexer)))
                            {
                                fileToCompressStream.CopyTo(entryStream);
                            }
                        }

                        fileInArchive = archive.CreateEntry(sources.Result.ParserName + ".csproj", CompressionLevel.Fastest);
                        using (var entryStream = fileInArchive.Open())
                        {
                            using (var fileToCompressStream = new MemoryStream(Encoding.UTF8.GetBytes(sources.Result.Project)))
                            {
                                fileToCompressStream.CopyTo(entryStream);
                            }
                        }
                    }

                    compressedBytes = outStream.ToArray();
                }


                string fileName = "parser.zip";
                string contentType = "application/zip";

                // Check if the IJSRuntime is the WebAssembly implementation of the JSRuntime
                if (JSUnmarshalledRuntime is IJSUnmarshalledRuntime webAssemblyJSRuntime)
                {
                    webAssemblyJSRuntime.InvokeUnmarshalled<string, string, byte[], bool>("BlazorDownloadFileFast", fileName, contentType, compressedBytes);
                    return;
                }

                // Fall back to the slow method if not in WebAssembly
                await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", fileName, contentType, compressedBytes);
            }
            else
            {
                errors.Clear();
                errors.AddRange(sources.Errors);
            }
        }
        else
        {
            Console.WriteLine("do not generate");
        }
    }

  
    
    private async void Compile()
    {
        messages.Clear();
        errors.Clear();
        var compileResult = CslyProcessor.Compile(cslyContext.Grammar);
        if (compileResult.IsOK)
        {
            messages.Clear();
            
            messages.Add("Model is OK");
        }
        else
        {
            errors.Clear();
            errors.AddRange(compileResult.Errors);
        }
        StateHasChanged();
    }


    private List<string> messages = new List<string>();
    private List<string> errors = new List<string>();
    
    

    public async void SelectSample(ChangeEventArgs e)
    {
        errors.Clear();
        messages.Clear();
        cslyContext.SetSample(e.Value?.ToString() ?? "");
        StateHasChanged();
    }

    private void CleanOutput()
    {
        errors.Clear();
        messages.Clear();
        StateHasChanged();
    }

}
