@page "/source"
@inject ICslyContext cslycontext;

<PageTitle>Counter</PageTitle>

<h1>Source</h1>

<p>To come...</p>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}